@{
    ViewBag.Title = "About";
}
<main>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Center align the content -->
                <h2>Welcome to Dooonuts</h2>
                <p>Our passion for donuts knows no bounds at Dooonuts. It's about creating a pleasurable experience that enhances your day, not just gratifying your sweet tooth. Founded in 2010 by Kussay Al-Zubadi, our impassioned team of bakers and pastry masters begins each day with the same commitment and zeal as when we first opened our doors.</p>
                <p>Our dedication to quality is steadfast. We use only the highest-quality ingredients, ensuring that every mouthful of our donuts is a flavour eruption. Our classic glazed doughnuts continue to be a customer favourite due to their melt-in-your-mouth delicacy. However, we do not stop there. Our menu exemplifies innovation and originality. Whether it's a decadent chocolate-filled treat, a tangy citrous explosion, or a whimsical seasonal creation, we're always investigating new donut-making territories. </p>
                <p>We believe that donuts have the ability to bring people together, place a smile on their faces, and transform ordinary moments into unforgettable memories. In light of this, we are proud to be a part of your celebrations, from birthdays to office parties. Our donuts are more than just sweets; they represent happiness and community. </p>
                <p>Thank you for participating in our delightful voyage. At DoooNUTs, every day is a holiday, and we can't wait to share the enchantment of our delectable confections with you. Join us in savouring the simple delight of a flawlessly crafted doughnut, because a little sweetness makes life more enjoyable. </p>
            </div>
        </div>
        <!-- Achievements Section -->
        <div class="row mt-5 ">
            <div class="col-md-4 equal-columns text-center">
                <img src="img/handshake.svg" alt="15 Years in Service" class="img-fluid mb-3" style="height: 100px; width: 100px;">
                <h4>15 Years in Service</h4>

            </div>
            <div class="col-md-4 equal-columns text-center">
                <img src="img/star.svg" alt="Over 100 5-Star Reviews" class="img-fluid mb-3" style="height: 100px; width: 100px;">
                <h4>Over 100 5-Star Reviews</h4>

            </div>
            <div class="col-md-4 equal-columns text-center">
                <img src="img/cup.svg" alt="20 Awards" class="img-fluid mb-3" style="height: 100px; width: 100px;">
                <h4>20 Awards</h4>

            </div>
        </div>
    </div>
</main>