<!-- DESIGNER: Claudinei Pereira de Sousa (100647340)
   EXERCISE: Assignment 02
   TASK: Doonut Website - ASP.NET MVC Project */ -->

@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/Caroussel001.svg" class="d-block w-100" alt="Carousel Image 1">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Caroussel002.svg" class="d-block w-100" alt="Carousel Image 2">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Caroussel003.svg" class="d-block w-100" alt="Carousel Image 3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="container">
        <h2 class="blog-title text-center" style="color: #A3701A; font-weight: bold;">OUR PRODUCTS</h2>
        <!--Row1-->
        <div class="row" style="padding:30px;">
            <div class="col-sm">
                <div class="card" id="card1" style="width:16rem;">
                    <img class="card-img-top" src="~/img/Products.jpg" alt="Donuts">
                    <div class="card-body">
                        <h5 class="card-title">Donuts</h5>
                        <p class="card-text">A wide variety of flavours.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" id="card2" style="width: 16rem;">
                    <img class="card-img-top" src="~/img/001-Coffee.jpg" alt="Donuts">
                    <div class="card-body">
                        <h5 class="card-title">Hot Drinks</h5>
                        <p class="card-text">Try our hot drinks with special products.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>