@{
    ViewBag.Title = "Menu";
}
<!DOCTYPE html>
<main>
    <div id="page-wrapper" class="container-fluid w-100" style="padding: 0;">
        
        <!--Menu Items-->
        <div class="container w-100" id="content">
            <div class="row" style="padding:30px;">
                <hr style="border-color: #A3701A;">
                <h2 class="blog-title text-center" style="color: #A3701A; font-weight: bold;">MENU</h2>
                <hr style="border-color: #A3701A;">
            </div>
            <!--Row1-->
            <div class="row" style="padding:10px;">
                <div class="col-sm">
                    <div class="card" id="card1" style="width:16rem;">
                        <img class="card-img-top" src="~/img/4pack.png" alt="4donuts_img">
                        <div class="card-body">
                            <h5 class="card-title">Combo For One $12</h5>
                            <p class="card-text">4 donuts of any flavour</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" id="card2" style="width:16rem;">
                        <img class="card-img-top" src="~/img/6Pack.png" alt="6donuts_img">
                        <div class="card-body">
                            <h5 class="card-title">Combo For Two $16</h5>
                            <p class="card-text">6 donuts of any flavour</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" id="card3" style="width:16rem;">
                        <img class="card-img-top" src="~/img/12Pack.png" alt="12donuts_img">
                        <div class="card-body">
                            <h5 class="card-title">Combo Family $32</h5>
                            <p class="card-text">12 donuts of any flavour</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--Row 2-->
            <div class="row" style="padding:10px;">
                <div class="col-sm">
                    <div class="card" id="card4" style="width:16rem;">
                        <img class="card-img-top" src="~/img/008-hotchocolate.jpg" alt="hotChocolate_img">
                        <div class="card-body">
                            <h5 class="card-title">Hot Chocolate $4.50</h5>
                            <p class="card-text">Milky or Dark Dhocolate</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" id="card5" style="width:16rem;">
                        <img class="card-img-top" src="~/img/001-Coffee.jpg" alt="coffee_img">
                        <div class="card-body">
                            <h5 class="card-title">Coffee $4.00</h5>
                            <p class="card-text">Australian Blend</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" id="card6" style="width:16rem;">
                        <img class="card-img-top" src="~/img/002-Latte.jpg" alt="latte_img">
                        <div class="card-body">
                            <h5 class="card-title">Latte $4.50</h5>
                            <p class="card-text">With Any Milk</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row 3-->
            <div class="row" style="padding:10px;">
                <div class="col-sm">
                    <div class="card" id="card7" style="width:16rem;">
                        <img class="card-img-top" src="~/img/003-Mocha.jpg" alt="moccha_img">
                        <div class="card-body">
                            <h5 class="card-title">Moccha $5.00</h5>
                            <p class="card-text">Hand Made ingredients</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" id="card8" style="width:16rem;">
                        <img class="card-img-top" src="~/img/009-Capuccino.jpg" alt="capuccino_img">
                        <div class="card-body">
                            <h5 class="card-title">Capuccino $4.50</h5>
                            <p class="card-text">Australian Blend</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" id="card9" style="width:16rem;">
                        <img class="card-img-top" src="~/img/004-Macchiato.jpg" alt="macchiato_img">
                        <div class="card-body">
                            <h5 class="card-title">Macchiato $5.00</h5>
                            <p class="card-text">Home Made Ingredients</p>
                            <a href="Signup.html" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
    </div>
</main>


