
@{
    ViewBag.Title = "Welcome";
}

@if (Session["Email"] != null)
{
    <h2>Welcome @Session["Email"].ToString()</h2>
}
else
{
    Response.Redirect("Index");
}
@Html.ActionLink("Logout", "Index")

<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack", 0);
    window.onload = function () {
        null;
    }
</script>