
@{
    ViewBag.Title = "Success!";
}

<div class="row">
    <div class="col">

    </div>
    <div class="col align-self-lg-center">
        <h2>LOGIN SUCCESSFUL</h2>
        <h2>WELCOME!</h2>
    </div>
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>